body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.selected {
  border: 1px solid rgb(160, 160, 160);
}

.react-flow__node-database .react-flow__handle {
  background-color: rgb(129 145 203 / 41%);
}
.react-flow__node-database .react-flow__handle:hover {
  background-color: rgb(129 145 203 / 90%);
}
